body {margin: 0;
    font-family: sans-serif;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#0063B2FF;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration:none;
}

li a:hover{
  background-color:#84bbe0;
  size: 50px;
}