body {margin: 0;
    font-family: sans-serif;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#0063B2FF;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration:none;
}

li a:hover{
  background-color:#84bbe0;
  size: 50px;
}.img1{

  margin-bottom: -36px;

}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

}
@media screen and (max-width:100%) {
  .topnav a, .topnav input[type=text] {
    float: right;
    display: block;
    text-align: left;
    width: 50px;
    margin: 0;
    height: 50px;
 
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }}
  img{max-width: 100%;
    max-height: auto;}
  
  
  .web1 {
      background-color:rgb(122, 157, 173);
      float:left;
      margin-left:0%;
      width: 100%;
      padding:0px;
      max-width: 100%;
      height: auto;
      height: 200px;
    }
  
  .web1 {
      background-color:rgb(143, 193, 216);
      float:left;
      margin-left:0%;
      width: 100%;
      padding:0px;
      max-width: 100%;
      height: auto;
      height: 200px;
    }
    .web2 {
      background-color:rgb(143, 193, 216);
      float:left;
      margin-left:0%;
      width: 50%;
      padding:0px;
      max-width: 100%;
      height: auto;
      height: 400px;
    }
    .web3 {
      background-color:rgb(255, 255, 255);
      float:left;
      margin-left:0%;
      width: 50%;
      padding:0px;
      max-width: 100%;
      height: auto;
      height: 400px;
    }
  
    .web4 {
      background-color:rgb(255, 255, 255);
      float:left;
      margin-left:0%;
      width: 100%;
      padding:0px;
      max-width: 100%;
      height: auto;
      height: 450px;
    }
    .web5{
      background-color:rgb(255, 255, 255);
  
       float: left;
       margin-left:0%;
       width: 504px;
       padding:1px;
       max-width: 100%;
       height: auto;
       height: 200px;
       font-size: 20px;
     }.web6{
      background-color:rgb(255, 255, 255);
  
       float:left;
       margin-left:0%;
       width: 505.2px;
       padding:1px;
       max-width: 100%;
       height: auto;
       height: 200px;
       font-size: 20px;
     }
     
     .web7{
      background-color:rgb(255, 255, 255);
  
       float: right;
       margin-left:0%;
       width: 504px;
       padding:1px;
       max-width: 100%;
       height: auto;
       height: 200px;
       font-size: 20px;
     }
    
     .web8{
      background-color:rgb(255, 255, 255);
  
       float: left;
       margin-left:0%;
       width: 50%;
   
       max-width: 100%;
       height: auto;
       height: 500px;
       font-size: 20px;
     }
  
     .web9{
      background-color:rgb(255, 255, 255);
  
       float: right;
       margin-left:0%;
       width: 50%;
     
       max-width: 100%;
       height: auto;
       height: 500px;
       font-size: 20px;
     }
     .obj8{
       background-color:#001a70;
       float:left;
       float:inline-start;
       margin-left:0%;
       width: 1515px;
       padding:1px;
       max-width: 100%;
       height: auto;
       height: 150px;
     
     }body c{
      font-family: Arial;
      font-size: 17px;
      padding: 0px;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    
    .col-25 {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
    }
    
    .col-50 {
      -ms-flex: 50%; /* IE10 */
      flex: 50%;
    }
    
    .col-75 {
      -ms-flex: 75%; /* IE10 */
      flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
      padding: 0 19px;
    }
    
    .container {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }
    
    input [type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    label  {
      margin-bottom: 10px;
      display: block;
    }
    
    .icon-container  {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .btn {
      background-color: #111266;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }
    
    .btn:hover {
      background-color: #180d7a;
    }
    